
<div class="container-field">
      <div class= "row" >
        <div class="col-3 guide-content left">
            <%= search_form_for @search do |f| %>
            <div class="row search-box">
              <h5 class="col-12 mb-3">検索しましょう</h5>

              <div class="col-12 mb-1">
                <%= f.collection_select :prefecture_eq, JpPrefecture::Prefecture.all, :name, :name, { include_blank: '都道府県' }, { class: 'custom-select' } %>
              </div>
              <div class="col-12 mb-1">
                <%= f.search_field :spot_or_address_cont, placeholder: "住所またはスポット名", class: 'form-control' %>
              </div>
              <div class="col-7   mb-1">
                <%= f.date_field :date_cont, class: 'form-control' %>
              </div>
              <div class="col-7  mb-3">
                <%= f.time_field :time_gteq, include_blank: true, class: 'form-control' %>
              </div>
              <div class="col-12 mb-3">
                <%= f.radio_button :activity_status_eq, '', {:checked => true} %>指定なし</br>
                <%= f.radio_button :activity_status_eq, 0 %>カメラマン</br>
                <%= f.radio_button :activity_status_eq, 1 %>モデル
              </div>
              <div class="col-12">
                <%= f.submit '🔍　この条件で検索！', class: 'button' %>
              </div>
            <% end %>

            <h2>gmap</h2>
            <div id='map'></div>

            <style>
            #map{
              height: 400px;
              width: 100%;
            }
            </style>

            <script>
              let map

                  function initMap() {
                      map = new google.maps.Map(document.getElementById("map"), {
                          center:{lat: 35.68123620000001, lng:139.7671248},
                          zoom: 12,
                      });
                  }

                  <% @activity_points.each do |m| %>
                    <% results = Geocoder.search(m.address) %>
                    <% if results.present? %>
                      <% @latlng = results.first.coordinates %>

                      (function() {
                        let marker = new google.maps.Marker({
                            position:{lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
                            map: map
                        });
                      })();
                    <% end %>
                  <% end %>
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
        </div>
      </div>



          <div class="col-8 main-content fixed">
            <div class="sort-table">
              <div><%=  link_to "全件表示", activity_points_path, class: 'button sort' %></div>
              <div><%=  sort_link @search, :date, "日付順", class: 'button sort' %></div>
              <div><%=  sort_link @search, :time, "時間順", class: 'button sort' %></div>
            </div>
            <div class="jscroll-div search">
              <div class='jscroll-container table table-hover table-inverse'>
                    <% @activity_points.each do |activity_point| %>
                    <div class="row searchuser-box">
                        <div class="col-2 ml-4 my-5">
                          <%= image_tag activity_point.user.get_profile_image, class: "table-img" %>
                        </div>
                        <div class="col-7 my-5  section">
                          <p>
                            <strong>
                              <%= activity_point.user.nickname %>

                              <!--マッチングしているユーザーのみアイコン表示-->
                              <% if activity_point.user.following?(current_user) && activity_point.user.follower?(current_user) %>
                                <i class="fas fa-solid fa-hand-holding-heart"></i>
                                マッチング済み
                              <!--ログインユーザーに依頼を送ったユーザーのみアイコン表示-->
                              <% elsif activity_point.user.following?(current_user) %>
                                <i class="fas fa-solid fa-hand-holding"></i>
                                フォロー依頼が届いています
                              <% else %>
                                <!--どちらでもない場合は空白-->
                              <% end %></br>

                            </strong>
                          </p>
                          <p>
                            <span class="pr-3">活動日時：</span><%= activity_point.date.strftime('%m月%d日') %>  <%= activity_point.time.strftime('%H:%M') %></br>
                          </p>
                          <p>
                            <span class="pr-3">スポット：</span><%= activity_point.spot %></br>
                          </p>
                          <p>
                            <span class="pr-3">活動住所：</span><%= activity_point.prefecture %><%= activity_point.address %></br>
                          </p>
                          <p>
                            <span class="pr-5">要望：</span><p><%= activity_point.request %></p>
                          </p>
                        </div>
                        <div class="col-2 my-5">
                          <%= link_to '詳細画面へ', matching_user_path(activity_point.user), class: "header-button search" %>
                        </div>
                    </div>
                    <% end %>
              <%= paginate @activity_points %>
            </div>
        </div>
  </div>
</div>


