<div class='container-field'>
  <div class="row">
    <div class='col-12'>

      <div id='map'></div>
      <script>
        let map


            // 検索結果より地図の表示
            function initMap() {
                geocoder = new google.maps.Geocoder()

            <% if @activity_points.exists? %>
                var LatLng ={lat: <%= @activity_point.latitude %>, lng: <%= @activity_point.longitude %>};
                map = new google.maps.Map(document.getElementById('map'), {
                    center: LatLng,
                    zoom: 13,
                });

            // 活動地点のaddressから緯度経度を取得
              <% @activity_points.each do |m| %>
                (function(){
                  // 緯度経度を元にマーカー表示
                    var marker = new google.maps.Marker({
                        position:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
                        map: map
                    });
                  // 吹き出しでスポット名表示、ユーザーの一覧表示リンク
                    var infowindow = new google.maps.InfoWindow({
                        position: {lat: <%= m.latitude %>, lng: <%= m.longitude %>},
                        content: "<a class='spot', href='<%= activity_points_spot_url(q: m.spot) %>' target='_blank'><%= m.spot %></a>"
                    });
                  // クリックしたときに情報ウィンドウを表示
                    marker.addListener('click', function() {
                    infowindow.open(map, marker);
                    });

                  })();

              <% end %>
            <% else %>
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 35.68123620000001, lng:139.7671248},
                    zoom: 13,
                });
            <% end %>
            }

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>

    </div>

      <div id="btn-menu" class="off">MENU</div>
      <div id="slideL" class="SlideOut">
        <div class="slide-inner">
          <div class="wrap">
              <div id="tab-contents">
                <div id="tab1" class="tab">
                    <%= search_form_for @search do |f| %>
                      <h5 class="col-12 mb-3">ユーザー検索</h5>

                      <div class="col-12 mb-1">
                        <%= f.collection_select :prefecture_eq, JpPrefecture::Prefecture.all, :name, :name, { include_blank: '都道府県' }, { class: 'custom-select' } %>
                      </div>
                      <div class="col-12 mb-1">
                        <%= f.search_field :spot_or_address_cont, placeholder: "住所またはスポット名", class: 'form-control' %>
                      </div>
                      <div class="col-7   mb-1">
                        <%= f.date_field :date_cont, class: 'form-control' %>
                      </div>
                      <div class="col-7  mb-3">
                        <%= f.time_field :time_gteq, include_blank: true, class: 'form-control' %>
                      </div>
                      <div class="col-12 mb-3">
                        <%= f.radio_button :activity_status_eq, '', {:checked => true} %>指定なし</br>
                        <%= f.radio_button :activity_status_eq, 0 %>カメラマン</br>
                        <%= f.radio_button :activity_status_eq, 1 %>モデル
                      </div>
                      <div class="col-12 mb-3">
                        <%= f.button :type => "submit", class: 'button' do %>
                          <i class="fas fa-search"></i> この条件で検索！
                        <% end %>
                      </div>
                    <% end %>
                </div>
                <div id="tab2" class="tab">
                  <div class="sort-table">
                    <div><%=  link_to "全件表示", activity_points_path, class: 'button sort' %></div>
                    <div><%=  sort_link @search, :date, "日付順", class: 'button sort' %></div>
                    <div><%=  sort_link @search, :time, "時間順", class: 'button sort' %></div>
                  </div>

                  <div class="jscroll-div search">
                    <div class='jscroll-container table table-hover table-inverse'>
                      <% if @activity_points.exists? %>
                        <% @activity_points.each do |activity_point| %>
                          <%= link_to matching_user_path(activity_point.user), class: "search-link" do %>
                            <div class="row SearchUser-box">
                                <div class="col-2">
                                    <%= image_tag activity_point.user.get_profile_image, class: "table-img" %>
                                </div>
                                <div class="col-7 section">
                                  <p>
                                      <%= activity_point.user.nickname %>

                                      <!--マッチングしているユーザーのみアイコン表示-->
                                      <% if activity_point.user.following?(current_user) && activity_point.user.follower?(current_user) %>
                                        <i class="fas fa-solid fa-hand-holding-heart"></i>

                                      <!--ログインユーザーに依頼を送ったユーザーのみアイコン表示-->
                                      <% elsif activity_point.user.following?(current_user) %>
                                        <i class="fas fa-solid fa-hand-holding"></i>

                                      <% else %>
                                        <!--どちらでもない場合は空白-->
                                      <% end %></br>

                                  </p>
                                </div>
                            </div>
                          <% end %>
                        <% end %>
                      <% else %>
                        <p>検索条件に該当するユーザーはいませんでした</p>
                      <% end %>
                    <%= paginate @activity_points %>
                  </div>
                </div>
                </div>
                <div id="tab3" class="tab">
                  <div class="ranks-container">
                    <strong>人気活動SPOT BEST5 <i class="fas fa-regular fa-crown"></i></strong>
                    <p> <%= Date.today %>現在</p>
                    <!--note[0]がスポット名、note[1]が投稿数-->
                    <% lastSpotCount = 0 %>
                    <% j = 1 %>
                    <%  @activity_point_ranks.each.with_index(1) do |note,i| %>
                      <% if i <= 5 %>
                        <% if i == 1 %>
                          <% lastSpotCount = note[1] %>
                        <% end %>
                        <% if note[1] != lastSpotCount %>
                          <% j = i %>
                          <div class="rank-box">
                            第<%= j %>位
                            <%= note[0] %>
                          </div>
                          <% lastSpotCount = note[1] %>
                        <% else %>
                          <% lastSpotCount = note[1] %>
                          <div class="rank-box">
                            第<%= j %>位
                            <%= note[0] %>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div id="tab4" class="tab">
                    <ul class="nav">
                      <li class="nav__item">
                        <%= link_to  user_path(@user), class: "nav__item-link" do %>
                          <i class="fas fa-solid fa-user nav__item-icon"></i>
                          <span class="nav__item-text">アカウント情報</span>
                        <% end %>
                      </li>
                      <li class="nav__item">
                        <%= link_to  notifications_path, class: "nav__item-link " do %>
                          <% if unchecked_notifications.any? %>
                              <i class="far fa-bell nav__item-icon", style="font-size: 1.5em;" ></i>
                              <span class="nav__item-text">通知</span>
                              <i class="fas fa-circle n-circle "></i>
                          <% else %>
                            <i class="far fa-bell nav__item-icon", style="font-size: 1.5em;" ></i>
                            <span class="nav__item-text">通知</span>
                          <% end %>
                        <% end %>
                      </li>
                      <li class="nav__item">
                        <%= link_to  users_matchings_path, class: "nav__item-link" do %>
                          <i class="fas fa-solid fa-envelope nav__item-icon"></i>
                          <span class="nav__item-text">メッセージ</span>
                        <% end %>
                      </li>
                      <li class="nav__item">
                        <%= link_to new_activity_point_path, class: "nav__item-link" do %>
                          <i class="fas fa-solid fa-camera nav__item-icon"></i>
                          <span class="nav__item-text">活動地点の登録</span>
                        <% end %>
                      </li>
                      <li class="nav__item">
                        <%= link_to  users_unsubscribe_path, class: "nav__item-link" do %>
                          <i class="fas fa-solid fa-reply nav__item-icon"></i>
                          <span class="nav__item-text">退会</span>
                        <% end %>
                      </li>
                    </ul>
                </div>
            </div>
              <ul id="tab-menu" class="ul">
                <li><a href="#tab1" class="active">検索</a></li>
                <li><a href="#tab2" class="">ユーザー</a></li>
                <li><a href="#tab3" class=""><i class="fas fa-regular fa-crown"></i></a></li>
                <li><a href="#tab4" class=""><i class="fas fa-home"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
      <%= javascript_pack_tag 'slide_menu' %>
</div>









