<div class='container'>
  <div class='row d-flex justify-content-around'>
    <div class="form-wrapper col-6 sign-field mt-5">

      <h1>Sign Up</h1>
      <p class="form-footer">こちらから新規登録お願い致します</p>

      <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field form-item">
      <%= f.label :Nickname %>
      <%= f.text_field :nickname, autofocus: true, placeholder:"例）れいちゃん", autocomplete: "nickname" %>
      </div>

      <div class="field form-item">
      <%= f.label :Email %>
      <%= f.email_field :email, placeholder:"例）sample@example.com", autocomplete: "email" %>
      </div>

      <div class="field form-item">
      <%= f.label :Password（6文字以上）　%>
      <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field form-item">
      <%= f.label :Password（確認用）%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions button-panel">
      <%= f.submit "新規登録", class: 'sign-button' %>
      </div>
      <% end %>

      <div class="text-center d-block mt-3">
        <p>-login with-</p>
        <div class="mb-3"><%= link_to 'ゲストの方はこちらからログイン', public_users_guest_sign_in_path, class: "sign-button small", method: :post %></div>
        <div class="mb-3"><%= link_to 'Twitterでログインする', user_twitter_omniauth_authorize_path, class: "sign-button sns-twitter", method: :post %></div>
        <div class="mb-3"><%= link_to 'Facebookでログインする', user_facebook_omniauth_authorize_path, class: "sign-button sns-facebook", method: :post %></div>

        <p >-既にご登録済みの方-</p>
        <p><%= link_to "こちらからログイン", new_user_session_path, class: "header-button start" %></p>
      </div>
    </div>
  </div>
</div>