<div class='container'>
  <div class='row d-flex justify-content-around'>
    <div class="form-wrapper col-4 sign-field mt-5">

      <h1>Log In</h1>

      <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="field form-item">
      <%= f.label :Email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-item">
      <%= f.label :Password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <%= f.submit "ログイン", class: 'sign-button' %>
      <% end %>

      <div class="text-center d-block mt-3">
        <p>-login with-</p>
        <div class="mb-3"><%= link_to 'ゲストの方はこちらからログイン', public_users_guest_sign_in_path, class: "sign-button small", method: :post %></div>
        <div class="mb-3"><%= link_to 'Twitterでログインする', user_twitter_omniauth_authorize_path, class: "sign-button sns-twitter", method: :post %></div>
        <div class="mb-3"><%= link_to 'Facebookでログインする', user_facebook_omniauth_authorize_path, class: "sign-button sns-facebook", method: :post %></div>

        <p>-会員登録がお済みでない方-</p>
        <p><%= link_to "こちらから新規登録", new_user_registration_path, class: "header-button start" %></p>
      </div>

    </div>
  </div>
</div>

