<div class='container'>
  <div class='row d-flex justify-content-around'>
    <div class="form-wrapper col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">

      <h1>Log In</h1>
      <p class="form-footer"><%= link_to 'ゲストの方はこちらをクリック', public_users_guest_sign_in_path, class: "sub-link", method: :post %></p>

      <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="field form-item">
      <%= f.label :Email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-item">
      <%= f.label :Password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions button-panel">
      <%= f.submit "ログイン", class: 'sign-button' %>
      </div>
      <% end %>

      <div class="form-footer">
        <p>会員登録がお済みでない方</p>
        <p><%= link_to "こちらから新規登録", new_user_registration_path, class: "header-button start" %></p>
        <p><%= link_to "Facebook", user_facebook_omniauth_authorize_path, method: :post %></p>
      </div>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>