<div class='container px-5 px-sm-0'>
  <div class="row">
    <div class="col">
      <h2 class="text-center border-bottom border-dark py-3 mb-4">Infomation</h2>
    </div>
  </div>

  <div class='row pt-3'>
    <div class='col-md-3 py-3'>
      <!--infoの部分テンプレート引用-->
      <%= render 'guide', user: @user %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h5>ようこそ！<%= current_user.nickname %>さん</h5>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
    </div>

  </div>
</div>

          


    <th class="pb-3 ">
    </th>
  </tr>
  <tr>
    <th class="pb-3">
      <%= link_to  users_matchings_path do %>
      <i class="fas fa-solid fa-envelope"></i>
        メール
      <% end %>
    </th>
  </tr>
  <tr>
    <th class="pb-3">
      <%= link_to  edit_user_path(current_user) do %>
      <i class="fas fa-solid fa-user"></i>
        アカウント情報
      <% end %>
    </th>
  </tr>
  <tr>
    <th class="pb-3">
      <%= link_to  destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>
        ログアウト
      <% end %>
    </th>
  </tr>
  <tr>
    <th class="pb-3">
      <%= link_to  users_unsubscribe_path do %>
      <i class="fas fa-solid fa-reply"></i>
        退会
      <% end %>
    </th>
  </tr>
  <tr>
    <th class="pb-3">
      <%= link_to new_activity_point_path do %>
      <i class="fas fa-solid fa-camera"></i>
         活動登録
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= link_to  activity_point_path(current_user) do %>
       <i class="fas fa-light fa-image"></i>
        活動確認
      <% end %>
    </th>
  </tr>

</table>
