<div class='container-field px-5 px-sm-0'>
  <div class="row">
    <div class='col-md-3 guide-content left'>
      <!--guide部分テンプレート引用-->
      <%= render 'guide', user: @user, activity_point: @activity_point %>
    </div>
    <div class='col-md-6 offset-1 main-content fixed'>
      <h4 class=" subtitle mb-4">MESSAGE</h4>
        <div class="jscroll-div">
          <div class="jscroll-container">
            <% @users.each do |user| %>
              <div class="matchings-box">
                <!--チャットルームを作成するリンク-->
                  <%= link_to chat_rooms_path(params: { user_id: user.id }), method: :post do %>
                    <%= image_tag user.get_profile_image, class: "matchings-img" %>
                    <span><%= user.nickname %></span>
                  <% end %>
              </div>
            <% end %>
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
