
<div class='container-field px-5 px-sm-0'>
  <div class="row mt-4">
    <div class='col-md-3 offset-1 mt-5'>
      <!--プロフィール画像-->
      <%= link_to user_path(@user) do %>
        <figure class="snip1344">
          <%= image_tag @user.get_profile_image, class: "background" %>
          <%= image_tag @user.get_profile_image, class: "profile" %>
          <figcaption>
            <h4>
              <%= @user.nickname %>
              <% if ActivityPoint.exists?(user_id: @user) %>
                <span><%= @activity_point.activity_status_i18n %></span>
              <% end %>
              <% if user_signed_in? && @user != current_user %>
                <% if current_user.following?(@user) %>
                  <span>フォロー済み</span>
                <% end %>
              <% end %>
            </h4>
          </figcaption>
        </figure>
      <% end %>
      <% if user_signed_in? && @user != current_user %>
        <div id="follow_form" >
          <% if current_user.following?(@user) %>
            <div class="matching-button-box">
              <%= link_to "やりとりを開始する", users_matchings_path, id: "liked", class: "button" %>
            </div>
          <% else %>
            <div class="follow-button-box">
              <%= render "follow", user: @user, relationship: @relationship %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='col-md-6'>
      <h2 class=" subtitle">REQUEST</h2>
      <div class="sub-message">
        <p class="profile-title"><strong><%= @user.nickname %>さん</strong> の要望</p>
      </div>
  <% if ActivityPoint.exists?(user_id: @user) %>
      <div class="profile">
        <div class="profile-top">
          <div class="profile-box">
            <p class="profile-title">活動日時</p>
            <p class="profile-body"><%= l @activity_point.date, format: :short %>  <%= l @activity_point.time, format: :short %></p>
          </div>
          <div class="profile-box">
              <p class="profile-title">人数</p>
              <p class="profile-body"><%= @activity_point.person %> 人</p>
          </div>
        </div>

          <div class="profile-box">
            <p class="profile-title">スポット</p>
            <p class="profile-body area"><%= @activity_point.spot %></p>
          </div>
          <div class="profile-box">
            <p class="profile-title">地点住所</p>
            <p class="profile-body area"><%= @activity_point.prefecture %><%= @activity_point.address %></p>
          </div>
          <div class="profile-box">
            <p class="profile-title">要望</p>
            <p class="profile-body area"><%= @activity_point.request %></p>
          </div>
      </div>
    <% else %>
      活動拠点は未登録です
    <% end %>
  </div>
</div>


<!--ポップアップWindow-->
<div class="popup">
  <div class="popup-content">
    <p><%= @user.nickname %>さんに依頼を送りました！</p>
    <p>
      メッセージは依頼が成立したときのみ送ることができます。 </br>
      相手から依頼が届くまでお待ちください。
    </p>
    <button id="close" class="close-button">閉じる</button>
    <div><%= image_tag 'post.png', size: "400x400" %></div>
</div>
<%= javascript_pack_tag 'matching_effect' %>

