<h2>活動検索結果</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>ニックネーム</th>
            <th>日時</th>
            <th>時間</th>
            <th>活動地点</th>
          </tr>
        </thead>

        <tbody>
            <% @activity_points.each do |activity_point| %>
              <tr>
                <td>
                  <%= image_tag activity_point.user.get_profile_image, size:'50x50' %>
                </td>
                <td>
                  <%= link_to matching_user_path(activity_point.user) do %>
                    <%= activity_point.user.nickname %>
                  <% end %>
                  </td>
                <td><%= activity_point.date %></td>
                <td><%= activity_point.time_zone %></td>
                <td><%= activity_point.address %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
