
<div class='container-field px-5  px-sm-0'>
  <div class='row'>
    <div class='col-md-3 guide-content left'>
        <!--guideの部分テンプレート引用-->
        <%= render 'guide', user: @user, activity_point: @activity_point %>
    </div>

    <div class='col-md-6 main-content'>
      <h4 class=" subtitle">MYPAGE</h4>
      <div class="profile">
        <div class="profile-top">
          <div class="profile-box">
            <p class="profile-title">ニックネーム</p>
            <p class="profile-body"><%= @user.nickname %></p>
          </div>
          <div class="profile-box">
            <% if ActivityPoint.exists?(user_id: @user) %>
              <p class="profile-title">活動ステータス</p>
              <p class="profile-body"><%= @activity_point.activity_status_i18n %></p>
            <% else %>
              <p class="profile-title">活動ステータス</p>
              <p class="profile-body">登録なし</p>
            <% end %>
          </div>
        </div>
          <div class="profile-box">
            <p class="profile-title">自己紹介</p>
            <p class="profile-body area"><%= @user.introduction %></p>
          </div>
            <!--ゲストユーザーの場合、編集ボタンを表示しない-->
            <% if @user.nickname != "guestuser" && @user == current_user %>
              <div class="button-box">
                <%= link_to 'Edit', edit_user_path(@user), class: 'button' %>
              </div>
            <% end %>
          </div>

      <h4 class=" subtitle">MYSPOT</h4>
    <% if ActivityPoint.exists?(user_id: @user) %>
      <div class="profile">
        <div class="profile-top">
          <div class="profile-box">
            <p class="profile-title">活動日時</p>
            <p class="profile-body"><%= l @activity_point.date, format: :short %>  <%= l @activity_point.time, format: :short %></p>
          </div>
          <div class="profile-box">
              <p class="profile-title">人数</p>
              <p class="profile-body"><%= @activity_point.person %> 人</p>
          </div>
        </div>
          <div class="profile-box">
            <p class="profile-title">スポット</p>
            <p class="profile-body area"><%= @activity_point.spot %></p>
          </div>
          <div class="profile-box">
            <p class="profile-title">地点住所</p>
            <p class="profile-body area"><%= @activity_point.prefecture %><%= @activity_point.address %></p>
          </div>
          <div class="profile-box">
            <p class="profile-title">要望</p>
            <p class="profile-body area"><%= @activity_point.request %></p>
          </div>

            <!--ゲストユーザーの場合、編集ボタンを表示しない-->
            <% if @user.nickname != "guestuser" && @user == current_user %>
              <div class="button-box">
                 <%= link_to 'Edit', edit_activity_point_path(@activity_point), class: "button" %>
              </div>
            <% end %>
          </div>
      <% else %>
          <p>登録なし</p>
      <% end %>
      </div>



    <div class='col-md-3 guide-content right'>
      <% if user_signed_in? && @user == current_user %>
        <%= render 'public/chat_rooms/chat_lists', users: @users %>
      <% end %>
    </div>
  </div>
</div>

