<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Photolink</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto ">
        <% if user_signed_in? %>
          <li class="text-center pt-2">
            <%= link_to user_path(current_user),class: 'nav-link text-light' do %>
              <i class="fas fa-home fa-2x "></i>
              <p class="p">マイページ</p>
            <% end %>
          </li>
          <li class="text-center pt-2">
            <%=  link_to  activity_points_path,class: 'nav-link text-light' do %>
              <i class="fas fa-users fa-2x"></i>
              <P class="p">探す</P>
            <% end %>
          </li>
          <li class="text-center pt-2">
            <%=  link_to activity_point_path(current_user) ,class: 'nav-link text-light' do %>
              <i class="fas fa-book-open fa-2x"></i>
              <P class="p">活動地点</P>
            <% end %>
          </li>
          <li class="text-center pt-2">
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt fa-2x"></i>
              <p class="p">ログアウト</p>
            <% end %>
          </li>
        <% else %>
          <li class="text-center pt-2">
            <%= link_to root_path,class: 'nav-link text-light' do %>
              <i class="fas fa-home fa-2x"></i>
              <p class="p">Top</p>
            <% end %>
          </li>
          <li class="text-center pt-2">
            <%= link_to about_path,class: 'nav-link text-light' do %>
              <i class="fas fa-link fa-2x"></i>
              <p class="p">About</p>
            <% end %>
          </li>
          <li class="text-center pt-2">
            <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus fa-2x"></i>
              <p class="p">新規登録</p>
            <% end %>
          </li>
          <li class="text-center pt-2">
            <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt fa-2x"></i>
              <p class="p">ログイン</p>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
