<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><%= image_tag 'Photolink_logo1.png', class: 'header-logo'%></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <div class="FlashMessage">
          <p id="notice"><%= flash[:notice] %></p>
          <p id="alert"><%= flash[:alert] %></p>
        </div>

        <ul class="navbar-nav ml-auto ">
        <% if user_signed_in? %>
          <li class="buttonBox">
            <%=  link_to  activity_points_path, class: 'header-button' do %>
              search
            <% end %>
          </li>
          <li class="buttonBox">
            <%= link_to user_path(current_user), class: 'header-button' do %>
              Mypage
            <% end %>
          </li>
          <li class="buttonBox">
            <%=  link_to users_matchings_path, class: 'header-button message' do %>
              Message
            <% end %>
          </li>
          <li class="buttonBox">
            <%= link_to destroy_user_session_path, method: :delete, class: 'header-button' do %>
              Logout
            <% end %>
          </li>
        <% else %>
          <li class="buttonBox">
            <%= link_to root_path,class: 'header-button top' do %>
              Top
            <% end %>
          </li>
          <li class="buttonBox">
            <%= link_to about_path,class: 'header-button' do %>
              About
            <% end %>
          </li>
          <li class="buttonBox">
            <%= link_to new_user_registration_path,class: 'header-button' do %>
              Signup
            <% end %>
          </li>
          <li class="buttonBox">
            <%= link_to new_user_session_path ,class: 'header-button' do %>
              Login
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

