<!DOCTYPE html>
<html>
  <head>
    <title>Photolink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="footerFixed">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
      <!--search画面でフッターとヘッダーを表示しない-->
      <% unless current_page?(activity_points_path) %>
        <%= render "layouts/header" %>
      <% end %>
        <main>
          <%= yield %>
        </main>
      <% unless current_page?(activity_points_path) || current_page?(root_path) %>
        <%= render 'layouts/footer' %>
      <% end %>
    </div>
  </body>
</html>
